.login
    width 300px
    margin 110px auto 0
    padding 20px   
    background #fff 
    border-radius 12px
    box-shadow 0 22px 24px 0 rgba(0,0,0,0.10)
    &__logo
        width 50px
        margin 0 auto 40px
        img 
            width 100%
    .login-form-button
        width 100%
    &__title
        text-align center
        color #2c3e50
        padding 0px 0 20px