.home
    &__sider
        border-right 1px solid #e8e8e8
    &__main
        background #fff
        &--editor
            width 100%
            max-width 740px
            margin 0 auto
            height 100%