.menu
    width 100%
    max-width 740px
    margin 0 auto
    height 100%
    .ant-page-header-content>.tree
        padding 10px
    .tree
        font-size 16px
        line-height 28px
        padding 0px 0 0px 40px
        list-style none
        &--item
            margin-top 5px
            .right 
                float right
                i 
                    font-size 20px
                    margin-left 10px
            >div
                background rgba(149, 106, 106, 0.1)
                padding 0 10px
                &.file
                    background aliceblue
            &.active>div
                background #ddeaf6