.layout
    &.ant-layout 
        background: #fff;
    .ant-layout-header
        height 46px
    &__header
        position relative
        &--menu
            float right
    &__main
        height calc(100% - 129px)
        width 100%
        margin 0 auto  
        overflow-y auto
        background #fff
    &__footer
        text-align center
